<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDP Analysis</title>
    <style>
      body{
          background-image: url("index-background.jpg");
      }
      h1{
          font-size: 34px;
          font-weight: 200;
          position: absolute;
          left: 550px;
      }
      ul{
          list-style:none ;
      }
      li{
         
          
         
      }
    </style>
</head>
<body>
 <h1>GDP Analysis</h1>
 <form action="">
     <ul>
         <li>
             <label for="Region">Region</label> 
         </li>
         <li>
             <input id="Region" type="number" placeholder="Range 0 to 11">
         </li>
         <li>
             <label for="Area">Area (sq.mi)</label>
            </li>
            <li>
             <input id="Area" type="number" placeholder="Range 2 to 17075200">
         </li>
         <li>
          <label  for="Coastline">Coastline</label>
         </li>
         <li>
          <input id="Coastline" type="number" placeholder="Range 0.0 to 870.66">
         </li>
         <li>
          <label for="Phone">Phone</label>
         </li>
         <li>
           <input type="number" id="Phone" placeholder="Range 0 to 1000">
         </li>
         <li>
          <label for="Crops">Crops</label>
         </li>
         <li>
            <input type="number" id="Crops" placeholder="Range from 0.0 to 50.68">
         </li>
         <li>
            <label for="Birthrate">Birthrate</label>
         </li>
         <li>
             <input type="number" id="Birthrate" placeholder="Range from 0.0 to 50.68">
         </li>
         <li>
             <label for="Agricultue">Agriculture</label>
         </li>
         <li>
             <input type="number" id="Agriculture" placeholder="Range from 0.0 to 769">
         </li>
         <li>
              <label for="Service">Service</label>
         </li>
         <li>
              <input type="number" id="Service" placeholder="Range from 0.062 to 0.9540000000000000001">
         </li>
     </ul>
 </form>
</body>
</html>